html {
  body {
    background: $light-background-color;
    color: $light-color;
    box-sizing: content-box;
    font-family: $font-family-sans;
    margin: 0;
    line-height: 1.7;
    padding: 2em 2em;
    overflow-x: hidden;
    max-width: 40em;
    margin: 0 auto;
    font-size: $font-size-mobile;
    @media (min-width: 820px) {
      font-size: $font-size-desktop;
    }
  }
  .faded {
    opacity: 0.6;
  }
  img.profile {
    border-radius: 100%;
    max-width: 120px;
    margin: 0;
  }
  .post-title {
    margin-bottom: 0.2em;
  }
  .flex {
    @media (min-width: 820px) {
      display: flex;
      .col {
        flex: 1;
      }
      .col:first-of-type {
        margin-right: 2em;
      }
    }
  }
  .intro {
    margin-bottom: 2em;
  }
  .overflow {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }
  .img-group {
    margin: 3em 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans;
    margin-top: 2em;
  }
  footer {
    margin: 4em 0 0.5em 0;
    font-size: 0.8em;
  }
  .list-entry {
    margin: 1em 0 1.25em;
  }
  .spacer {
    height: 0;
    width: 100%;
  }
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    max-height: 75vh;
    border-radius: 4px;
  }
  .post-heading {
    margin: 3em 0 2em;
  }
  .post > p:last-of-type {
    padding-bottom: 1em;
    border-bottom: 5px solid $light-post-border-bottom;
  }
  blockquote {
    padding: 1.75em;
    margin: 0 -1.75em;
    background: $light-blockquote-background;
    color: $light-blockquote-color;
    border: 1px solid $light-blockquote-border;
    border-radius: 4px;
    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  .caption {
    font-family: $font-family-sans;
    margin-top: 1em;
    text-align: center;
    color: $light-caption-color;
    font-size: 0.9em;
  }
  hr {
    width: 100%;
    border: 0;
    height: 1px;
    margin: 1.5em 0;
    background: $light-hr-background-color;
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  a {
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid $light-a-border-bottom;
    color: $light-primary-color;
    &:hover {
      color: $light-a-hover-color;
      background: $light-a-hover-background-color;
    }
    &:after {
      position: relative;
      top: -0.5em;
      content: "↗";
      color: $light-a-after-color;
    }
    &.internal-link:after {
      content: "";
    }
  }
  :not(button):focus {
    background: $light-not-button-focus-background-color;
    color: $light-not-button-focus-color;
  }
  nav {
    margin: 1em 0;
  }
  .card {
    background-color: $light-card-background-color;
    padding: 1rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards {
    max-width: 1200px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  }
  .grid {
    display: grid;
    grid-gap: 1rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }
  .font-monospace {
    font-family: $font-family-mono;
  }
  code, kbd, samp {
    font-family: $font-family-mono;
  }
  .grid-element {
    margin: 4em 0;
  }
  input, textarea {
    margin:0;
    border:1px solid $light-input-textarea-border-color;
    border-radius: 4px;
    padding:0.5em;
    width: calc(100% - 1em - 2px);
    display:inline-block;
    vertical-align:middle;
    background: $light-input-textarea-border-background-color;
    font-family: $font-family-sans;
  }
  img.emoji {
    display: inline;
    height: 1.5em;
    width: 1.5em;
  }
  .backlink-int-link {
    background: $light-backlink-int-background-color
  }
  &.dark {
    body {
      background: $dark-background-color;
      color: $dark-color;
    }
    .post > p:last-of-type {
      border-bottom: 5px solid $dark-post-border-bottom;
    }
    blockquote {
      background: $dark-blockquote-background;
      color: $dark-blockquote-color;
      border: 1px solid $dark-blockquote-border;
    }
    .caption {
      color: $dark-caption-color;
    }
    hr {
      background: $dark-hr-background-color;
    }
    a {
      border-bottom: 2px solid $dark-a-border-bottom;
      color: $dark-primary-color;
      &:hover {
        color: $dark-a-hover-color;
        background: $dark-a-hover-background-color;
      }
      &:after {
        color: $dark-a-after-color;
      }
    }
    :not(button):focus {
      background: $dark-not-button-focus-background-color;
      color: $dark-not-button-focus-color;
    }
    .card {
      background-color: $dark-card-background-color;
    }
    input, textarea {
      border:1px solid $dark-input-textarea-border-color;
      background: $dark-input-textarea-border-background-color;
    }
    .backlink-int-link {
      background: $dark-backlink-int-background-color
    }
  }
}