.sudoku-grid {
    td, .sudoku-elem {
        border: 1px solid;
        text-align: center;
        color: white
    }
    .part:valid {
        background-color: #adf0ad;
    }
    td:first-child {
        border-left: solid;
    }
    td:nth-child(3n) {
        border-right: solid ;
    }
    tr:first-child {
        border-top: solid;
    }
    tr:nth-child(3n) td {
        border-bottom: solid ;
    }
}