$light-background-color: white;
$light-primary-color: black;
$light-color: #222;
$light-post-border-bottom: #f0f0f0;
$light-blockquote-background: #fff;
$light-blockquote-color: #333;
$light-blockquote-border: #eee;
$light-caption-color: #666;
$light-hr-background-color: #dddddd;
$light-a-border-bottom: #ddd;
$light-a-hover-color: black !important;
$light-a-hover-background-color: #fffaf1;
$light-a-after-color: #aaaaaa;
$light-not-button-focus-color: black !important;
$light-not-button-focus-background-color: #ffe8bc !important;
$light-card-background-color: #f2f7fb;
$light-input-textarea-border-color: #ccc;
$light-input-textarea-border-background-color: white;
$light-backlink-int-background-color: #f5f7ff;

$dark-background-color: #000020;
$dark-primary-color: #ffffff;
$dark-color: #dddddd;
$dark-post-border-bottom: #0f0f0f;
$dark-blockquote-background: #000000;
$dark-blockquote-color: #cccccc;
$dark-blockquote-border: #111111;
$dark-caption-color: #999999;
$dark-hr-background-color: #222222;
$dark-a-border-bottom: #222222;
$dark-a-hover-color: #ffffff !important;
$dark-a-hover-background-color: #00050e;
$dark-a-after-color: #555555;
$dark-not-button-focus-color: #ffffff !important;
$dark-not-button-focus-background-color: #001743 !important;
$dark-card-background-color: #0d0804;
$dark-input-textarea-border-color: #333333;
$dark-input-textarea-border-background-color: 000000;
$dark-backlink-int-background-color: #0a0800;

$font-family-sans: -apple-system, BlinkMacSystemFont, Segoe UI, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
$font-family-mono: SFMono-Regular,Consolas,DejaVu Sans Mono,Liberation Mono,Menlo,monospace;
$font-family-serif: Iowan Old Style, Apple Garamond, Baskerville, Georgia, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji;
$font-size-desktop: 18px;
$font-size-mobile: 15px;