$light-background-color: white;
$light-primary-color: black;
$light-color: #222;
$light-post-border-bottom: #f0f0f0;
$light-blockquote-background: #fff;
$light-blockquote-color: #333;
$light-blockquote-border: #eee;
$light-caption-color: #666;
$light-hr-background-color: #dddddd;
$light-a-border-bottom: #ddd;
$light-a-hover-color: black !important;
$light-a-hover-background-color: #fffaf1;
$light-a-after-color: #aaaaaa;
$light-not-button-focus-color: black !important;
$light-not-button-focus-background-color: #ffe8bc !important;
$light-card-background-color: #f2f7fb;
$light-input-textarea-border-color: #ccc;
$light-input-textarea-border-background-color: white;

$font-family-sans: -apple-system, BlinkMacSystemFont, Segoe UI, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
$font-family-mono: SFMono-Regular,Consolas,DejaVu Sans Mono,Liberation Mono,Menlo,monospace;
$font-family-serif: Iowan Old Style, Apple Garamond, Baskerville, Georgia, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji;
$font-size-desktop: 18px;
$font-size-mobile: 15px;